/* Sets the global styles */
:root{
    --global-padding: 10.625em;
    --section-margin: 6.250em;
    --paragraph-size: 1.250em;
    --heading-size: 3.000em;
    --card-size: 21.250em;
    --card-button-width: 250px;
    --card-button-height: 3.750em;
    --card-button-color: #FDC2CC;
    --card-heading-size: 1.500em;
    --divider-width: 100%;
    --divider-height: 0.500em;
    --primary-radius: 2.500em;
    --secondary-radius: 1.250em;
}

/* Removes default margin and sets global font*/
*{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Adds padding to the body */
body{
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
    position: relative;
}

/* ##### HEADER ################################# */

/* Styles the logo text */
.logo{
    font-size: 2.250em;
    font-weight: bold;
    color: #3F3D56;
    position: relative;
    top: 7px;
}

.logo span{
    color: #1304D9;
}

/* Aligns the menu(Including the button) */
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.438em;
}

/* positions the header items */
.jumbotron{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}

/* Styles the menu items */
.menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.625em;
    list-style: none;
    color: #3F3D56;
    font-size: 1.125em;
    font-weight: bold;
    position: relative;
    top: 0.625em;
}

/* styles the header button */
.header-button{
    width: 9.375em;
    height: 2.500em;
    background-color: white;
    color: #1304D9;
    font-size: 1.375em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1304D9 !important;
    border-radius: 1.250em;
}

/* changes hover state color */
.header-button > :hover{
    background-color: #1304D9 !important;
}

/* Aligns the hero section items */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: var(--global-padding);
}

/* Styles the subheading */
.hero-left h3{
    color: #3F3D56;
    font-weight: bold;
    font-size: 1.500em;
    letter-spacing: 0.313em;
}

/* Styles the heading */
.hero-left h1{
    color: #1304D9;
    font-weight: bold;
    font-size: 3.000em;
    margin-top: 15px;
}

/* Styles the paragraph */
.hero-left p{
    width: 30.000em;
    color: #3F3D56;
    line-height: 1.875em;
    font-size: var(--paragraph-size);
    margin-top: 1.250em;
}

/* Styles the hero button */
.hero-button{
    width: 15.625em;
    height: 3.750em;
    border-radius: 1.250em;
    margin-top: 1.875em;
    font-size: 1.375em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1304D9;
}

/* Styles the divider */
.hero-divider{
    background-color: #1304D9;
    width: 100%;
    height: var(--divider-height);
    border-radius: var(--secondary-radius);
    margin-top: var(--section-margin);
    margin-bottom: var(--section-margin);
}

/* ########## Projects section ############ */

/* Heading */
.projects h1{
    font-size: var(--heading-size);
    color: #1304D9;
    text-align: center;
    font-weight: bold;
}

/* Positions the cards inner sections */
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 200px;
    margin-top: var(--section-margin);
}

/* aligns the cards vertically in each inner section */
.cards1, .cards2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 85px;
}

/* Sets the global styles of the cards */
.cards1 div, .cards2 div{
    width: var(--card-size);
    height: var(--card-size);
    border-radius: var(--primary-radius);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

/* Styles Anitas Kitchen */
.anitas-kitchen{
    background-color: #1304D9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: -20px 0 100px rgba(19, 4, 217, 0.5);
}



/* positions the chef image */
#chef{
    position: absolute;
    top: -93px;
}

/* Styles the cards heading */
.anitas-kitchen h1, .drury-cafe h1, .favorite-band h1, .dairy-business h1{
    color: white;
    font-size: var(--card-heading-size);
    font-weight: bold;
}

/* Styles the cards paragraph */
.anitas-kitchen p, .drury-cafe p, .favorite-band p, .dairy-business p{
    color: white;
    opacity: 80%;
    font-size: var(--paragraph-size);
}

/* Styles Drury cafe */
.drury-cafe{
    background-color: #A0616A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 20px 0 100px rgba(160, 97, 106, 0.8);
}

/* positions the burger image */
#burger{
    position: absolute;
    top: -68px;
}

/* Styles Favorite Band */
.favorite-band{
    background-color: #6459FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: -20px 0 100px rgba(100,	89,	255, 0.8);
}

/* positions marshmallow's image */
#marshmallow{
    position: absolute;
    top: -103px;
}

/* Styles Favorite Band */
.dairy-business{
    background-color: #473BED;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 20px 0 100px rgba(71, 59, 237, 0.8);
}

/* positions marshmallow's image */
#farm-girl{
    position: absolute;
    top: -107px;
}

/* Styles the card buttons */
.cards button{
    background-color: var(--card-button-color);
    width: var(--card-button-width);
    height: var(--card-button-height);
    border-radius: var(--secondary-radius);
    color: #3F3D56;
    font-weight: bold;
    font-size: var(--paragraph-size);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards button:hover{
    background-color: var(--card-button-color);
    color: #3F3D56;
    background-color: rgba(253,	194, 204, 0.9);
}

/* Styles the projects section divider */
.projects-section-divider{
    background-color: #6459FF;
    width: 100%;
    height: var(--divider-height);
    border-radius: var(--secondary-radius);
    margin-top: var(--section-margin);
    margin-bottom: var(--section-margin);
}

/* ########## Styles the education section ######## */
.education{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.education-inner-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

/* Styles the education heading */
.education h1{
    font-size: var(--heading-size);
    color: #1304D9;
    font-weight: bold;
}

/* Styles the schools tabs */
.school{
    box-shadow: 0 0 3px #3F3D56;
    width: 414px;
    height: 60px;
    border-radius: var(--primary-radius);
    font-weight: bold;
    font-size: var(--paragraph-size);
    color: #3F3D56;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* ######### Skills section ######### */
.skills-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/* Styles my skills */
.my-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1304D9;
    font-weight: bold;
    font-size: var(--heading-size);
    margin-top: 100px;
    border: solid #3F3D56 2px;
    background-color: white;
    width: 300px;
    height: 100px;
    border-radius: 40px;
    position: relative;
    top: 50px;
}

/* Styles the skills section */
.skills{
    border: solid #3F3D56 2px;
    width: 100%;
    height: 334px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: var(--primary-radius);
    font-size: var(--paragraph-size);
}

/* Left section */
.skills-left-section{
    border-right: solid #3F3D56 2px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Right section */
.skills-right-section{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sets the text width */
.skills p{
    width: 378px;
    color: #3F3D56;
}

/* Styles the inner headings */
.skills h3{
    color: #1304D9;
}

/* Skills section divider */
.skills-section-divider{
    background-color: #3F3D56;
    width: 100%;
    height: var(--divider-height);
    border-radius: var(--secondary-radius);
    margin-top: var(--section-margin);
    margin-bottom: var(--section-margin);
}

/* ######## Interests section ######## */

/* Interests heading */
#my-interests-heading{
    font-size: var(--heading-size);
    font-weight: bold;
    text-align: center;
    color: #3F3D56;
}

/* interests inner section */
.interests{
    width: 100%;
    height: 340px;
    background-color: #3F3D56;
    border-radius: 40px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 120px;
}

/* Sets the buttons global variables */
.buttons{
    width: 250px;
    height: 250px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    color: white;
}

/* Styles the buttons global content positioning */
.technology, .music, .forex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* Styles the technology button */
.technology{
    background-color: #473BED;
}

/* Styles the music button */
.music{
    background-color: #A0616A;
}

/* Styles the music button */
.forex{
    background-color: #C4C4C4;
}

/* Styles the get in touch heading */
#get-in-touch{
    text-align: center;
    font-weight: bold;
    font-size: var(--heading-size);
    color: #3F3D56;
    margin-top: 100px;
    
}

/* Positions the footer section */
.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1.875em;
    gap: 40px;
    position: relative;
    margin-bottom: var(--section-margin);
}

/* Styles the form */
.form-group{
    width: var(--card-size);
    height: var(--card-size);
    background-color: #6459FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: var(--primary-radius);
}

/* Styles the inputs */
.form-control{
    width: 16.000em;
    height: 2.813em;
    background-color: #6459FF;
    border: solid #FFB9B9 2px;
    border-radius: var(--secondary-radius);
}

/* styles the input placeholder */
::placeholder{
    color: var(--card-button-color) !important;
    font-size: 1.125em;
}

/* Styles the input focus */
input:focus{
    background-color: #6459FF !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5) !important;
    border: solid var(--card-button-color) 2px !important;
}


/* increased the height of text area */
#text-area{
    height: 5.313em;
    resize: none !important;
}

/* Styles the textarea focus */
textarea:focus{
    background-color: #6459FF !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5) !important;
    border: solid var(--card-button-color) 2px !important;
}

/* Styles the submit button */
#form-button{
    width: 250px;
    height: 2.813em;
    border-radius: var(--secondary-radius);
    background-color: var(--card-button-color);
    border: none;
    color: #3F3D56;
    font-size: 1.125em;
    font-weight: bold;
}

/* Styles the social icons container */
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: solid #3F3D56 2px;
    border-radius: var(--primary-radius);
    width: 110px;
    height: 340px;
}

/* Styles the copyright text */
.copyright-content{
    font-size: 18px;
    color: #3F3D56;
    font-weight: bold;
    position: relative;
    bottom: 110px;
}