/* Sets the global styles */
:root{
    --global-padding: 10.625em;
    --section-margin: 6.250em;
    --paragraph-size: 1.500em;
    --heading-size: 3.000em;
    --card-size: 21.250em;
    --card-button-size: 15.625em;
    --card-button-color: #FDC2CC;
    --card-heading-size: 1.500em;
    --divider-width: 100%;
    --divider-height: 0.500em;
    --primary-radius: 2.500em;
    --secondary-radius: 1.250em;
}

/* Removes default margin and sets global font*/
*{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Adds padding to the body */
body{
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
    position: relative;
}

/* ##### HEADER ################################# */

/* Styles the logo text */
.logo{
    font-size: 2.250em;
    font-weight: bold;
    color: #3F3D56;
    position: relative;
    top: 7px;
}

.logo span{
    color: #1304D9;
}

/* Aligns the menu(Including the button) */
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.438em;
}

/* positions the header items */
.jumbotron{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}

/* Styles the menu items */
.menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.625em;
    list-style: none;
    color: #3F3D56;
    font-size: 1.125em;
    font-weight: bold;
    position: relative;
    top: 0.625em;
}

/* styles the header button */
.header-button{
    width: 9.375em;
    height: 2.500em;
    background-color: white;
    color: #1304D9;
    font-size: 1.375em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1304D9 !important;
    border-radius: 1.250em;
}

/* changes hover state color */
.header-button > :hover{
    background-color: #1304D9 !important;
}

/* Aligns the hero section items */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: var(--global-padding);
}

/* Styles the subheading */
.hero-left h3{
    color: #3F3D56;
    font-weight: bold;
    font-size: 1.500em;
    letter-spacing: 0.313em;
}

/* Styles the heading */
.hero-left h1{
    color: #1304D9;
    font-weight: bold;
    font-size: 3.000em;
    margin-top: 0.938em;
}

/* Styles the paragraph */
.hero-left p{
    width: 35.000em;
    color: #3F3D56;
    line-height: 1.875em;
    font-size: var(--paragraph-size);
    margin-top: 1.250em;
}

/* Styles the hero button */
.hero-button{
    width: 15.625em;
    height: 3.750em;
    border-radius: 1.250em;
    margin-top: 1.875em;
    font-size: 1.375em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1304D9;
}

/* Styles the divider */
.hero-divider{
    background-color: #1304D9;
    width: 100%;
    height: var(--divider-height);
    border-radius: var(--secondary-radius);
    margin-top: var(--section-margin);
    margin-bottom: var(--section-margin);
}

