/* Sets the global styles */
*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Adds padding to the body */
body{
    padding-left: 10.625em;
    padding-right: 10.625em;
    position: relative;
}

/* Styles the logo text */
.logo{
    font-size: 2.250em;
    color: #3F3D56;
    position: relative;
    top: 7px;
}

.logo span{
    color: #1304D9;
}

/* Aligns the menu(Including the button) */
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.438em;
}

/* positions the header items */
.jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}

/* Styles the menu items */
.menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.625em;
    list-style: none;
    color: #3F3D56;
    font-size: 1.125em;
    font-weight: bold;
    position: relative;
    top: 0.625em;
}