/* Sets the global styles */
:root{
    --global-padding: 10.625em;
    --section-margin: 6.250em;
    --paragraph-size: 1.250em;
    --heading-size: 3.000em;
    --card-size: 21.250em;
    --card-button-width: 250px;
    --card-button-height: 3.750em;
    --card-button-color: #FDC2CC;
    --card-heading-size: 1.500em;
    --divider-width: 100%;
    --divider-height: 0.500em;
    --primary-radius: 2.500em;
    --secondary-radius: 1.250em;
}

/* Removes default margin and sets global font*/
*{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Adds padding to the body */
body{
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
    position: relative;
}

/* ##### HEADER ################################# */

/* Styles the logo text */
.logo{
    font-size: 2.250em;
    font-weight: bold;
    color: #3F3D56;
    position: relative;
    top: 7px;
}

.logo span{
    color: #1304D9;
}

/* Aligns the menu(Including the button) */
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.438em;
}

/* positions the header items */
.jumbotron{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}

/* Styles the menu items */
.menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.625em;
    list-style: none;
    color: #3F3D56;
    font-size: 1.125em;
    font-weight: bold;
    position: relative;
    top: 0.625em;
}

/* styles the header button */
.header-button{
    width: 9.375em;
    height: 2.500em;
    background-color: white;
    color: #1304D9;
    font-size: 1.375em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1304D9 !important;
    border-radius: 1.250em;
}

/* changes hover state color */
.header-button > :hover{
    background-color: #1304D9 !important;
}

/* Aligns the hero section items */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: var(--global-padding);
}

/* Styles the subheading */
.hero-left h3{
    color: #3F3D56;
    font-weight: bold;
    font-size: 1.500em;
    letter-spacing: 0.313em;
}

/* Styles the heading */
.hero-left h1{
    color: #1304D9;
    font-weight: bold;
    font-size: 3.000em;
    margin-top: 0.938em;
}

/* Styles the paragraph */
.hero-left p{
    width: 30.000em;
    color: #3F3D56;
    line-height: 1.875em;
    font-size: var(--paragraph-size);
    margin-top: 1.250em;
}

/* Styles the hero button */
.hero-button{
    width: 15.625em;
    height: 3.750em;
    border-radius: 1.250em;
    margin-top: 1.875em;
    font-size: 1.375em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1304D9;
}

/* Styles the divider */
.hero-divider{
    background-color: #1304D9;
    width: 100%;
    height: var(--divider-height);
    border-radius: var(--secondary-radius);
    margin-top: var(--section-margin);
    margin-bottom: var(--section-margin);
}

/* ########## Projects section ############ */

/* Heading */
.projects h1{
    font-size: var(--heading-size);
    color: #1304D9;
    text-align: center;
    font-weight: bold;
}

/* Positions the cards inner sections */
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 200px;
    margin-top: var(--section-margin);
}

/* aligns the cards vertically in each inner section */
.cards1, .cards2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 85px;
}

/* Sets the global styles of the cards */
.cards1 div, .cards2 div{
    width: var(--card-size);
    height: var(--card-size);
    border-radius: var(--primary-radius);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

/* Styles Anitas Kitchen */
.anitas-kitchen{
    background-color: #1304D9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: -20px 0 100px rgba(19, 4, 217, 0.5);
}

/* positions the chef image */
#chef{
    position: absolute;
    top: -93px;
}

/* Styles the heading */
.anitas-kitchen h1{
    color: white;
    font-size: var(--card-heading-size);
    font-weight: bold;
}

/* Styles the paragraph */
.anitas-kitchen p{
    color: white;
    opacity: 80%;
    font-size: var(--paragraph-size);
}

/* Styles the card buttons */
.cards button{
    background-color: var(--card-button-color);
    width: var(--card-button-width);
    height: var(--card-button-height);
    border-radius: var(--secondary-radius);
    color: #3F3D56;
    font-weight: bold;
    font-size: var(--paragraph-size);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards button:hover{
    background-color: var(--card-button-color);
    color: #3F3D56;
    background-color: rgba(253,	194, 204, 0.9);
}


